In [3]:
%reload_ext autoreload
%autoreload 2

In [4]:
# import statements
import dagshub as dh
import pandas as pd
import sklearn.svm as sk

In [7]:
data = pd.read_csv("speech-accent-archive\speakers_all.csv")
print(f"{data.shape[0]} rows, {data.shape[1]} columns") # delete later

2172 rows, 12 columns

In [8]:
# Check out the dataset - delete later
data.head(10)

,age,age_onset,birthplace,filename,native_language,sex,speakerid,country,file_missing?,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,24.0,12.0,"koussi, senegal",balanta,balanta,male,788,senegal,True,NaN,NaN,NaN
1,18.0,10.0,"buea, cameroon",cameroon,cameroon,male,1953,cameroon,True,NaN,NaN,NaN
2,48.0,8.0,"hong, adamawa, nigeria",fulfulde,fulfulde,male,1037,nigeria,True,NaN,NaN,NaN
3,42.0,42.0,"port-au-prince, haiti",haitian,haitian,male,1165,haiti,True,NaN,NaN,NaN
4,40.0,35.0,"port-au-prince, haiti",haitian,haitian,male,1166,haiti,True,NaN,NaN,NaN
5,43.0,41.0,"port-au-prince, haiti",haitian,haitian,male,1167,haiti,True,NaN,NaN,NaN
6,21.0,21.0,"port-au-prince, haiti",haitian,haitian,male,1168,haiti,True,NaN,NaN,NaN
7,54.0,51.0,"port-au-prince, haiti",haitian,haitian,female,1169,haiti,True,NaN,NaN,NaN
8,18.0,16.0,"ouanaminthe, haiti",haitian,haitian,female,1866,haiti,True,NaN,NaN,NaN
9,73.0,5.0,"pepeekeo, hawai'i, usa",hawai'i,hawai'i,male,1675,usa,True,NaN,NaN,NaN

In [ ]:
# Import our svm code
import svm